#portalAcoes
{
    height: 25px;
    font-size: 9px; 
}


#portalAcoes a
{
    color: #373435;
    text-decoration: underline;
    padding: 8px;
}

#portalOpcoes
{
    height: 25px;
    margin-left: 15px;
}

#listaPortal
{
    list-style-type: none;
    margin-top: 5px; 
    padding: 0px;
}

#listaPortal li
{
    color: #373435;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #FFFFFF;
}

#listaPortal li:hover
{
    background-color: #D2D3D5;
}

